<!-- The grid-template-columns property in CSS structures the amount and size of each column in a grid. This attribute is based on the amount of parameters passed into the property. -->
<!-- In the case below, we inserted 3 columns into the grid with a size of 100px each. -->

<style>
.d1{background:LightSkyBlue;}
.d2{background:LightSalmon;}
.d3{background:PaleTurquoise;}
.d4{background:LightPink;}
.d5{background:PaleGreen;}

.container {
  font-size: 40px;
  width: 100%;
  background: LightGray;
  display: grid;
  /* add your code below this line */
  grid-template-columns: 100px 100px 100px;
  
  /* add your code above this line */
}
</style>

<div class="container">
<div class="d1">1</div>
<div class="d2">2</div>
<div class="d3">3</div>
<div class="d4">4</div>
<div class="d5">5</div>
</div>