<!-- The order property can be used to change the order of the flex-items within the container.
In the example below, box 1 was given the order value of 2 which placed box 1 to the right of box 2. -->

<style>
#box-container {
  display: flex;
  height: 500px;
}
#box-1 {
  background-color: dodgerblue;
  order: 2;
  height: 200px;
  width: 200px;
}

#box-2 {
  background-color: orangered;
  order: 1;
  height: 200px;
  width: 200px;
}
</style>

<div id="box-container">
<div id="box-1"></div>
<div id="box-2"></div>
</div>